<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Basic Table" blockClass="table-border-style">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>#id</th>
                <th>Nom Chauffeur </th>
                <th>Voie </th>

                <th>Matricule</th>
                <th>Nombre de places restantes </th>
                <th>Validation </th>

              </tr>
              </thead>
              <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-success"><i class="feather icon-check-circle"></i> Valider </button>
                    <button type="button" class="btn btn-danger"><i class="feather icon-slash"></i> Annuler </button>
  
                  </td>
    
              </tr>
            
              
              </tbody>
            </table>
          </div>
        </app-card>
      </div>
</div>
