  <div class="row">
     <div class="col-md-6">
      <form action="javascript:">
        <div class="form-group">
          <label for="exampleFormControlSelect1"> Voie </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Tunis</option>
            <option>Sousse </option>
            <option>Mahdia </option>
            <option>Gabes </option>
          </select>
        </div>
        <div class="form-group">
          <label>Nombre des place Disponible</label>
          <input type="text" class="form-control" placeholder="Nombre des Places disponible dans ce voie  ">
        </div>
        <button type="submit" class="btn btn-primary">Ticket</button>

      </form>
    </div>
  </div>