<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Basic Table" blockClass="table-border-style">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>#id</th>
                <th>Nom Complet </th>
                <th>Matricule</th>
                <th>Position</th>
                <th>Détails</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-icon btn-success"><i class="feather icon-check-circle"></i></button>
                    <button type="button" class="btn btn-icon btn-danger"><i class="feather icon-slash"></i></button>
 
                </td>
              </tr>
            
              
              </tbody>
            </table>
          </div>
        </app-card>
      </div>
</div>
