<div class="row">
    <div class="col-md-6">
      <form action="javascript:">
        <div class="form-group">
          <label>Votre Nom Et Prenom </label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Adresse Email </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mot De Passe</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirmer Votre Mot De Passe</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
       
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
    <div class="col-md-6">
      <form action="javascript:">
        <div class="form-group">
          <label>Matricule</label>
          <input type="text" class="form-control" placeholder="Matricule">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1"> Type </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>propriétaire</option>
            <option>chauffeur </option>
            <option>Propriétaire et chauffeur </option>
         
          </select>
        </div>
       
      </form>
    </div>
  </div>